<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="description" content="Affan - PWA Mobile HTML Template">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#0134d4">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <!-- Title -->
  <title>CALL OF DUTY BATTLE ROYALE INVITATIONAL SEASON 1</title>
  <!-- Fonts -->
  <style>
    @font-face {
      font-family: Poppins-Regular; src: url('/fonts/Poppins/Poppins-Regular.ttf');
      font-family: Poppins-Bold; src: url('/fonts/Poppins/Poppins-Bold.ttf');
    }
  </style>
  <!-- CSS Libraries -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/tiny-slider.css">
  <link rel="stylesheet" href="/css/baguetteBox.min.css">
  <link rel="stylesheet" href="/css/rangeslider.css">
  <link rel="stylesheet" href="/css/vanilla-dataTables.min.css">
  <link rel="stylesheet" href="/css/apexcharts.css">
  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="/style.css">
  <!-- Ion Icons --> 
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>

  <!-- Preloader -->
  <div id="preloader">
    <div class="spinner-grow text-primary" role="status"><span class="visually-hidden">Loading...</span></div>
  </div>

  <!-- Internet Connection Status -->
  <div class="internet-connection-status" id="internetStatus"></div>

  <!-- Header Area -->
  <div class="header-area bg-primary text-light shadow-sm" id="headerArea">
    <div class="container">
      <!-- Header Content -->
      <div class="header-content position-relative d-flex align-items-center justify-content-center">
        <!-- Page Title -->
        <div class="page-heading">
          <h3 class="mb-0" style="font-family: Poppins-Bold; color: white">CODM</h3>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Nav -->
  <div class="footer-nav-area" id="footerNav">
    <div class="container px-0">
      <div class="footer-nav position-relative footer-style-three shadow-sm">
        <ul class="h-100 d-flex align-items-center justify-content-between ps-0">
          <li class="active"><a href="page-home.html">
            <ion-icon name="home-outline" style="font-size: 25px;"></ion-icon>
          </a></li>
          <li><a href="pages.html">
            <ion-icon name="list-outline" style="font-size: 25px;"></ion-icon>  
          </a></li>
          <li><a href="elements.html">
            <ion-icon name="boat-outline" style="font-size: 25px;"></ion-icon>
          </a></li>
          <li><a href="page-chat-users.html">
            <ion-icon name="settings-outline" style="font-size: 25px;"></ion-icon>
          </a></li>
          <li><a href="settings.html">
            <ion-icon name="person-outline" style="font-size: 25px;"></ion-icon>
          </a></li>
        </ul>
        <!-- # Footer Three Layout End -->
      </div>
    </div>
  </div>

  <!-- Script -->
  <script src="/__/firebase/9.2.0/firebase-app-compat.js"></script>
  <script src="/__/firebase/9.2.0/firebase-database-compat.js"></script>
  <script src="/__/firebase/init.js?useEmulator=true"></script>
  
  <!-- All JavaScript Files -->
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/slideToggle.min.js"></script>
  <script src="/js/internet-status.js"></script>
  <script src="/js/tiny-slider.js"></script>
  <script src="/js/baguetteBox.min.js"></script>
  <script src="/js/countdown.js"></script>
  <script src="/js/rangeslider.min.js"></script>
  <script src="/js/vanilla-dataTables.min.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/imagesloaded.pkgd.min.js"></script>
  <script src="/js/isotope.pkgd.min.js"></script>
  <script src="/js/dark-rtl.js"></script>
  <script src="/js/active.js"></script>
  <!-- PWA -->
  <script src="/js/pwa.js"></script>
</body>
</html>